body.landingbody {
	margin: 25px;
	font-family: 'Hind', sans-serif;
	margin: 10px;
	padding: 10px;
}

.landingheader {
    padding: 10px;
	line-height: 10px;
	background-color: lavender;
	border-style: double;
}

h1.landingh1 {
	line-height: 10px;
}

h3.landingh3 {
	font-style: italic;
}

p.landingabout {
	margin-top: 20px;
	line-height: 25px;
}

.left-col {
	width: 33.33%;
	float: left;
}

.center-col {
	width: 33.33%;
	float: left;
}

.right-col {
	width: 33.33%;
	float: right;
	padding: 0px;
}

.landingfooter {
	clear: both;
	background-color: lavender;
	padding: 10px;
	line-height: 5px;
	border-style: double;
}

.container div {
	padding: 1%;
	box-sizing: border-box;
	min-height: 500px;
}

li.landingli {
	margin-top: 25px;
	line-height: 15px;
	font-size: 16pt;
}

img.landingimg {
	border-radius: 30px;
}

/*Iconz Assignment*/

body.iconzbody {
	font-family: 'Hind', sans-serif;
}

.iconzheader {
	background-color: rgb(194, 240, 240);
	border-style: double;
}

h1.iconzh1 {
	text-align: center;
	line-height: 15px
}

h2.iconzh2 {
	text-align: center;
	font-style: italic;
}

img.iconzimg {
	float: left;
}

li.iconzli {
	margin-top: 25px;
	line-height:25px;
}

p.iconzp {
	margin-top: 20px;
	line-height: 25px;
}

h5.iconzh5 {
	line-height: 25px;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
}

.iconzheader {
	padding: 15px;
	margin-bottom: 50px;
	background-color: rgb(194, 240, 240);
	border-style: double;
}

.iconzfooter {
	background-color: rgb(194, 240, 240);
	border-style: double;
	margin-top: 50px;
	padding: 10px;
	line-height: 5px;
}

.dataheader {
	padding: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
	background-color: rgb(194, 240, 240);
}

h1.datah1 {
	text-align: center;
	line-height: 10px
}

h2.datah2 {
	text-align: center;
	font-style: italic;
}

body.databody {
	font-family: 'Hind', sans-serif;
}

p.datap {
	margin-top: 20px;
	line-height: 25px;
}

img.dataimg {
	display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

figure {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
}

.databody {
	background-color: rgb(194, 240, 240);
	padding: 15px;
}

h4.datah4 {
	text-align: center;
    font-style: italic;
}

